<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <main>
            <div class="mainComponent">
            <div class="container mt-5">
                <div class="row gy-5 mx-auto cardWrapper">
                    <!--<div v-for="(disk,i) in filteredGenres" :key="i" class="col">-->
                    <div class="card" v-for="orderItem in order.products">
                    <div class="card-body">
                        <!--<img class="card-img-top poster" :src="disk.poster" alt="Card image cap">-->
                        <h5 class="card-title mt-3">{{orderItem.price}}</h5>
                        <!--<p style="color:grey">{{movie.director}}</p>
                        <p style="color:grey">{{movie.year}}</p>-->
                    </div>
                    </div>

                </div>
            </div>
            </div>

        </main>
    </div>
    <script src="./app.js"></script>
</body>
</html>